.color-navbar {
  background-color: #381fde !important;
  background-image: linear-gradient(90deg, #121b96 0%, #2697b6, #2697cc 100%);
}

.color-texto-marca {
  color:#1e3d87 !important;
  font-size: 18px;
}

.cerrar-sesion-icono {
  color: black !important;
}